<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "All Songs", songs_path %> / <%= link_to "Create a Song", new_song_path %>

<%= yield %>

</body>
</html>
